.forgot-link{justify-self:end;color:var(--green);font-size:14px;font-weight:800;margin-top:-7px}
.forgot-link:hover,.auth-return:hover{text-decoration:underline}
.auth-return{justify-self:center;color:var(--green);font-size:15px;font-weight:800;margin-top:3px}
